[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
gunicorn = "*"
flask-jwt-extended = "*"
flask-sqlalchemy = "*"
psycopg2-binary = "*"
flask-marshmallow = "*"
flask-migrate = "*"
python-dotenv = "*"
pytest = "*"
isort = "*"
requests = "*"
flask-restx = "*"
passlib = "*"
pytest-flask = "*"
pytest-xdist = "*"
flask-script = "*"
marshmallow-sqlalchemy = "*"

[dev-packages]

[requires]
python_version = "3.12.1"
